h1 {
  text-align: center;
  color: white
}

body {
  background-image: linear-gradient(black 70%, grey);
  margin: 50px;
}

.img1 {
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 9px;
}

.container-flex {
  display: flex;
  min-width: 100px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.conteudo {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: 12px;
}

.intro {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  flex: 1;
  margin-right: 20px;
}

.menu {
  flex: 0 0 250px;
  margin-top: 0;
  margin: 10px;
  padding: 0;
  list-style: none;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .content, .menu {
    flex: 1;
    margin-right: 0;
  }
}

footer {
  text-align: center;
}